---
layout: default.hbs
path: src/content/partials/patterns/
---


{{!-- Dropdowns --}}

<h3>{{dropdown.info.title}}</h3>
<p>{{dropdown.info.description}}</p>

{{> dropdown dropdown }}

{{#markdown}}``\{{> dropdown dropdown }}``{{/markdown}}

<h4>dropdown.hbs</h4>
{{#markdown}}
{{embed 'src/content/partials/patterns/dropdown/dropdown.hbs' 'html'}}
{{/markdown}}

<h4>Sass/SCSS</h4>
{{#each dropdown.css}}

{{#markdown}}
{{embed this 'scss'}}
{{/markdown}}

{{/each}}

<h4>dropdown.json</h4>
{{#markdown}}
{{embed 'src/content/partials/patterns/dropdown/dropdown.json' 'json'}}
{{/markdown}}